@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro'
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9edff2;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  

}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.question-container {
  max-width: 80%;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 25px;
}

.question-container-two {
  max-width: 80%;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 25px;

}

.question-container-three {
  max-width: 80%;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 25px;

}

.question-container-four {
  max-width: 80%;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 25px;

}

.question-container-five {
  max-width: 80%;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 25px;

}


.button-grid {
  display: grid;
  margin: 30px 0;
  grid-template-columns: repeat(2, auto);
  background: white;
  gap: 10px;
}

.button-grid-two {
  display: grid;
  margin: 30px 0;
  grid-template-columns: repeat(2, auto);
  background: white;
  gap: 10px;
}

.button-grid-three {
  display: grid;
  margin: 30px 0;
  grid-template-columns: repeat(2, auto);
  background: white;
  gap: 10px;
}

.button-grid-four {
  display: grid;
  margin: 30px 0;
  grid-template-columns: repeat(2, auto);
  background: white;
  gap: 10px;
}

.button-grid-five {
  display: grid;
  margin: 30px 0;
  grid-template-columns: repeat(2, auto);
  background: white;
  gap: 10px;
}

.wrong-answer-one {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
  
}

.right-answer-one {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
}
.wrong-answer-one:hover {
  background-color: #fec438;
}

.right-answer-one:hover {
  background-color: #fec438;
}

.wrong-answer-two {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
}

.right-answer-two {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
  
}
.wrong-answer-two:hover {
  background-color: #fec438;
}

.right-answer-two:hover {
  background-color: #fec438;
}

.wrong-answer-three {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
}

.right-answer-three {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
  
}
.wrong-answer-three:hover {
  background-color: #fec438;
}

.right-answer-three:hover {
  background-color: #fec438;
}

.wrong-answer-four {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
}

.right-answer-four {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
  
}
.wrong-answer-four:hover {
  background-color: #fec438;
}

.right-answer-four:hover {
  background-color: #fec438;
}

.wrong-answer-five {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
}

.right-answer-five {
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #fda99b;
  
}
.wrong-answer-five:hover {
  background-color: #fec438;
}

.right-answer-five:hover {
  background-color: #fec438;
}

.reset-button {
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 25px;
  
}

.reset-button:hover {
  background-color: #4e58bc;
}

@media screen and (max-width: 500px) {
 
    .question-container {
      max-width: 80%;
      width: 250px;
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 0 10px 2px;
      margin: 25px;
    }

    .button-grid {
      display: flex;
      margin: 30px 0;
      flex-direction: column;
      background: white;
      gap: 10px;
    }
    
  .question-container-two {
    max-width: 80%;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 25px;

  }

  .button-grid-two {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    background: white;
    gap: 10px;
  }

  .question-container-three {
    max-width: 80%;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 25px;

  }

  .button-grid-three {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    background: white;
    gap: 10px;
  }

  .question-container-four {
    max-width: 80%;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 25px;

  }

  .button-grid-four {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    background: white;
    gap: 10px;
  }

  .question-container-five {
    max-width: 80%;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 25px;

  }

  .button-grid-five {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    background: white;
    gap: 10px;
  }
}